@font-face {
  font-family: 'Helvetica Neue Black';
  src: url('/fonts/HelveticaNeueBlack.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'Helvetica Neue', sans-serif;
}

.dashboard-inner {
  display: flex;
  gap: 20px;
}
.sidebar {
  width: 20%;
}
.dashboard .tab-buttons {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.container {
    max-width: 1320px;
    margin: auto;
}
header ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  header nav ul a {
    text-decoration: none;
  }
  header nav ul {
    display: flex;
    column-gap: 60px;
}

.footer_inner_section {
    display: flex;
    justify-content: space-between;
}

.footer_section ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.admin-footer-section-columns {
  display: flex;
  justify-content: space-between;
}